<div class="container">
<h1>Stupid Coaching</h1>
<div class="questions">
<p><%= @question %></p>
<p><em>- You</em></p>
</div>
<div class="answers">
<p><%= @answer %></p>
<p><em>- Your coach</em></p>
</div>
<footer>
<%= link_to "Ask a new question", ask_path %>
</footer>




