<div class="container">
  <div class="col">
    <div class="card">
<!-- <div class="questions">
<p><%= @question %></p>
<p><em>- You</em></p>
  </div> -->
<div class="answers">
<p><%= @answer %></p>
<p><em>- Your Coach</em></p>
    </div>
<footer>
<%= link_to "Ask a new question?", ask_path %>
</footer>
  </div>
</div>





