 .card {
  background-color: white;
  text-align: center;
 }

 .answers {
  margin-top: 200px;
 }

 p {
  font-size: 44px;
  font-family: cursive;
 }

 footer {
  margin-top: 44px;
  font-size: 22px;
 }




