// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
  background-color: red;
 }

.card {
  border: solid;
  background-color: white;
  text-align: center;
  padding-bottom: 600px;
  padding-top: 100px;
  margin-top: 44px;
 }

p {
  padding-top: 4px;
  font-size: 44px;
  font-family: cursive;
}

.input_form {
 padding-top: 100px;
 p {
margin-bottom: 44px;
 }
}




